<footer class="footer bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-md-4 mb-3">
                <h5>About Us</h5>
                <p class="small">We provide high-quality car rentals to help you explore the world with ease. With a wide variety of vehicles, we're here to make your trips comfortable and enjoyable.</p>
            </div>
            <!-- Navigation Section -->
            <div class="col-md-4 mb-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Home</a></li>
                    <li><a href="#" class="text-light">Available Cars</a></li>
                    <li><a href="#" class="text-light">FAQ</a></li>
                    <li><a href="#" class="text-light">Contact Us</a></li>
                </ul>
            </div>
            <!-- Contact Section -->
            <div class="col-md-4 mb-3">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-envelope"></i> info@carrentals.com</li>
                    <li><i class="fas fa-phone"></i> +1 234 567 890</li>
                    <li><i class="fas fa-map-marker-alt"></i> 1234 Street, City, Country</li>
                </ul>
                <div class="social-icons">
                    <a href="#" class="text-light mr-2"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#" class="text-light mr-2"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#" class="text-light mr-2"><i class="fab fa-instagram fa-2x"></i></a>
                </div>
            </div>
        </div>
        <hr class="border-secondary">
        <!-- Copyright Section -->
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="small">&copy; 2024 GrandesRentACar. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>